/*********************
COLORS
*********************/
$brand-primary: #6FD1E2;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$grey1: #E0E0E0;
$grey2: #C5C5C5;
$grey3: #AFAFAF;
$grey4: #505050;
$grey5: #373737;
$grey6: #2D2D2D;
$grey7: #222222;
$grey8: #161616;


/*********************
FONTS
*********************/
$font-body-color: $grey7;

$font-body: 'Roboto', sans-serif;

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;



/*********************
LAYOUT
*********************/
$padding: 40px;
$padding-half: 20px;

$header-height: 40px;
$footer-height: 50px;